= render partial: 'layouts/header', locals: { icon_class: 'fas fa-user' }

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  .col-12.col-lg-9
    .card.mb-4
      .card-header
        = i18n 'profile_card_header'
      .card-body
        = render 'devise/shared/error_messages'
        .row
          = f.simple_fields_for :user_profile, :user_profile do |up|
            .col-12.col-sm-4.col-md-3
              .row
                .col-12
                  = react_component('file_uploader/InputFile', src: @user.avatar_path, buttonText: i18n('upload_image'), fileType: 'image/jpeg, image/png')
            .col-12.col-sm-8.col-md-9
              .row
                = up.input :username, autofocus: true, input_html: { autocomplete: 'username' }
                = up.input :first_name, wrapper: :md6
                = up.input :last_name, wrapper: :md6
                = up.input :bio
                = f.input :email, autocomplete: 'email'
                - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                  .col-12.text-danger.small.mb-4
                    = t('views.users.registrations.edit.pending_confirmation', email: resource.unconfirmed_email)
              .text-right
                = f.submit i18n('submit_account'), class: 'btn btn-primary', commit: 'update-profile' # @TODO: replace_with

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'edit_password' }) do |f|
  .col-12.col-lg-9
    .card.mb-4
      .card-header
        = i18n 'password_card_header'
      .card-body
        .row
          .col-12
            .row
              = f.input :current_password, autocomplete: 'password'
              = f.input :password, autocomplete: 'new-password'
              = f.input :password_confirmation, autocomplete: 'new-password'
            .text-right
              = f.submit i18n('submit_password'), class: 'btn btn-primary', name: Users::RegistrationsController::UPDATE_PASSWORD_COMMIT # @TODO: replace_with
