.col-lg-7
  .card.shadow-lg.border-0.rounded-lg.mt-5
    .card-header.justify-content-center
      %h3.font-weight-light.my-4
        = t 'title'
    .card-body
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .form-group
          = f.label :email, class: 'small mb-1'
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control py-4', placeholder: true
        .form-group
          = f.label :password, class: 'small mb-1'
          = f.password_field :password, autocomplete: 'new-password', class: 'form-control py-4', placeholder: true
        .form-group
          = f.label :password_confirmation, class: 'small mb-1'
          = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control py-4', placeholder: true
        .form-group.mt-4.mb-0
          = f.submit t('submit'), class: 'btn btn-primary btn-block' # @TODO: replace_with
    .card-footer.text-center
      .small
        = link_to t('existing_account'), new_session_path(resource_name)
