.col-lg-5
  .card.shadow-lg.border-0.rounded-lg.mt-5
    .card-header.justify-content-center
      %h3.font-weight-light.my-4
        = t 'title'
    .card-body
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        = f.hidden_field :reset_password_token
        .form-group
          = f.label :password, class: 'small mb-1'
          = f.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'form-control py-4', placeholder: true
        .form-group
          = f.label :password_confirmation, class: 'small mb-1'
          = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control py-4', placeholder: true
        .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
          = link_to t('return_to_login'), new_session_path(resource_name), class: 'small'
          = f.submit t('submit'), class: 'btn btn-primary' # @TODO: replace_with
    .card-footer.text-center
      .small
        = link_to t('no_confirmation'), new_confirmation_path(resource_name)
