= render partial: 'layouts/header', locals: { icon_class: 'fas fa-lightbulb', title_sub: i18n('title_sub', name: @tenant.name) }
- content_for :page_title do
  = i18n('title')

= content_for :card_header do
  = i18n 'card_header'
= content_for :card_body do
  - if @projects.present?
    %ul.list-unstyled#project_list
      = render @projects
  - else
    = link_to i18n('no_projects'), new_project_path

= content_for :nav_card do
  %li.nav-item
    = link_to i18n('new_button'), new_project_path
