.col-lg-5
  .card.shadow-lg.border-0.rounded-lg.mt-5
    .card-header.justify-content-center
      %h3.font-weight-light.my-4
        = t 'title'
    .card-body
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        - if flash[:alert].present?
          .text-danger.mb-3
            = flash[:alert]
        - elsif flash[:notice].present?
          .text-success.mb-3
            = flash[:notice]
        = f.input :email, autofocus: true, autocomplete: 'email', class: 'form-control py-4', placeholder: true
        = f.input :password, autocomplete: 'current-password', class: 'form-control py-4', placeholder: true
        .form-group.col-12
          .custom-control.custom-checkbox
            = f.check_box :remember_me, class: 'custom-control-input'
            = f.label :remember_me, class: 'custom-control-label'
        .col-6
          = link_to t('forgot_password'), new_password_path(resource_name), class: 'small'
        .col-6.text-right
          = f.submit t('submit'), class: 'btn btn-primary' # @TODO: replace_with
    .card-footer.text-center
      .small
        = link_to t('sign_up'), new_registration_path(resource_name)
