- is_admin = @organization.user_is_admin?(@current_user)

= render partial: 'layouts/header', locals: { icon_class: 'fas fa-users', title: @organization.name, title_sub: i18n('members', count: @organization.users.count) }

= content_for :card_header do
  = i18n 'card_header'

= content_for :card_body do
  %ul.list-unstyled#organization_list
    - @organization.accepted_users.each do |user|
      = render partial: 'organizations/user', locals: { user: user, is_admin: is_admin }

    - if @organization.pending_users.count > 0
      %hr
      %h3
        = i18n('pending_invitations')
      .mt-4
      - @organization.pending_users.each do |user|
        = render partial: 'organizations/user', locals: { user: user, is_admin: is_admin }

- if @organization.user_is_admin?(@current_user)
  = content_for :nav_card do
    %li.nav-item
      = link_to i18n('invite_button'), organization_add_members_path(@organization.slug)
