- is_admin = @organization.user_is_admin?(@current_user)

= render partial: 'layouts/header', locals: { icon_class: 'fas fa-users', title: @organization.name, title_sub: i18n('members', count: @organization.users.count) }

= content_for :card_header do
  = i18n 'card_header'

- if @organization.user_is_admin?(@current_user)
  = content_for :header_button do
    = link_to i18n('invite_button'), organization_add_members_path(@organization.slug), class: 'btn btn-light'
= content_for :card_body do
  %ul.list-unstyled#organization_list
    - @organization.ordered_users.each do |user|
      %li.mb-4
        = image_tag user.avatar, class: 'avatar mr-2'
        = user.name

        - if is_admin && @current_user != user
          :ruby
            items = [
              [i18n('delete'), root_path, :delete]
            ]

            if @organization.user_is_admin?(user)
              items.push([i18n('remove_admin'), organization_revoke_admin_path(@organization.slug, user.uuid), :put])
            else
              items.push([i18n('make_admin'), organization_grant_admin_path(@organization.slug, user.uuid), :put])
            end

          .float-right
            = render partial: 'shared/ellipsis_dropdown', locals: {items: items}

        .small.text-muted.d-inline-block
          = i18n("roles.#{@organization.user_role(user)}", date: @current_user.local_date(@organization.join_date(user)))
