- icon_class ||= 'fas fa-network-wired'
- title ||= i18n 'title'
- title_sub ||= i18n 'title_sub'

- if icon_class.length > 0
  = content_for :title_icon do
    %i{ :class => icon_class }

= content_for :title do
  = title

= content_for :title_sub do
  = title_sub
