!!!

%html{class: css_page_class}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title= ENV['APP_NAME']
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.nav-fixed
    = render partial: 'layouts/navbar/navbar'
    #layoutSidenav
      = render partial: 'layouts/sidenav/sidenav'
      #layoutSidenav_content
        %main
          = render partial: 'layouts/flash_message'
          - if content_for?(:title)
            .page-header.pb-10.page-header-dark.bg-gradient-primary-to-secondary
              .container-fluid
                .page-header-content
                  %h1.page-header-title
                    - if content_for(:title_icon)
                      .page-header-icon
                        = yield :title_icon
                    %span
                      = yield :title
                  .page-header-subtitle.mt-3
                    = yield :title_sub
          .container-fluid.mt-n10
            = yield
        = render partial: 'layouts/footer'
