!!!

%html{class: css_page_class}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:name => "viewport", :content => 'width=device-width, initial-scale=1, maximum-scale=1'}
    %title= page_title
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('darkbugs_logo.svg')
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.nav-fixed
    = render partial: 'layouts/navbar/navbar'
    #layoutSidenav
      = render partial: 'layouts/sidenav/sidenav'
      #layoutSidenav_content
        %main
          = render partial: 'layouts/flash_message'
          - if content_for?(:title)
            = render partial: 'layouts/title'
          .container-fluid.mt-n10
            .row
              - if content_for(:card_header)
                = render partial: 'layouts/card_layout'
              - if content_for?(:nav_card)
                = render partial: 'layouts/nav_card'
              = yield
        = render partial: 'layouts/footer'
