!!!

%html{class: css_page_class}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title= ENV['APP_NAME']
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.nav-fixed
    = render partial: 'layouts/navbar/navbar'
    #layoutSidenav
      = render partial: 'layouts/sidenav/sidenav'
      #layoutSidenav_content
        %main
          = render partial: 'layouts/flash_message'
          - if content_for?(:title)
            .page-header.pb-10.page-header-dark.bg-gradient-primary-to-secondary
              .container-fluid
                .page-header-content.col-12.col-lg-9
                  %h1.page-header-title.d-inline-block
                    - if content_for(:title_icon)
                      .page-header-icon
                        = yield :title_icon
                    %span
                      = yield :title
                  -if content_for? :header_button
                    .float-right
                      = yield :header_button
                  .page-header-subtitle.mt-3
                    = yield :title_sub
          .container-fluid.mt-n10
            - if content_for(:card_header)
              = render partial: 'layouts/card_layout'
            = yield
        = render partial: 'layouts/footer'
